<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>carNumber</key>
		<string>粤A8888</string>
		<key>carType</key>
		<string>劳斯莱斯幻影</string>
		<key>carSeats</key>
		<string>5座</string>
		<key>carID</key>
		<string>cargroup1_test1</string>
		<key>carInfo</key>
		<string>carInfo1</string>
	</dict>
	<dict>
		<key>carNumber</key>
		<string>辽B3241</string>
		<key>carType</key>
		<string>宝马520</string>
		<key>carSeats</key>
		<string>5座</string>
		<key>carID</key>
		<string>cargroup1_test2</string>
		<key>carInfo</key>
		<string>carInfo2</string>
	</dict>
	<dict>
		<key>carInfo</key>
		<string>carInfo3</string>
		<key>carNumber</key>
		<string>京A0001</string>
		<key>carType</key>
		<string>红旗防弹防滑海陆空</string>
		<key>carSeats</key>
		<string>5座</string>
		<key>carID</key>
		<string>cargroup1_test3</string>
	</dict>
	<dict>
		<key>carInfo</key>
		<string>carInfo4</string>
		<key>carNumber</key>
		<string>粤B2134</string>
		<key>carType</key>
		<string>奥迪TT</string>
		<key>carSeats</key>
		<string>2座</string>
		<key>carID</key>
		<string>cargroup1_test4</string>
	</dict>
	<dict>
		<key>carInfo</key>
		<string>carInfo5</string>
		<key>carNumber</key>
		<string>粤AY8291</string>
		<key>carType</key>
		<string>宝马X5</string>
		<key>carSeats</key>
		<string>5座</string>
		<key>carID</key>
		<string>cargroup2_test1</string>
	</dict>
	<dict>
		<key>carInfo</key>
		<string>carInfo6</string>
		<key>carNumber</key>
		<string>粤AZ2134</string>
		<key>carType</key>
		<string>长安小面包</string>
		<key>carSeats</key>
		<string>7座</string>
		<key>carID</key>
		<string>cargroup2_test2</string>
	</dict>
	<dict>
		<key>carInfo</key>
		<string>carInfo7</string>
		<key>carNumber</key>
		<string>粤A2222</string>
		<key>carType</key>
		<string>布加迪威龙</string>
		<key>carSeats</key>
		<string>5座</string>
		<key>carID</key>
		<string>cargroup2_test3</string>
	</dict>
	<dict>
		<key>carInfo</key>
		<string>carInfo8</string>
		<key>carNumber</key>
		<string>粤A9090</string>
		<key>carType</key>
		<string>东风捷运</string>
		<key>carSeats</key>
		<string>5座</string>
		<key>carID</key>
		<string>cargroup2_test4</string>
	</dict>
</array>
</plist>
